{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% load staticfiles %}
{% block content %}

<div class="wrapper">
    <div class="container">

        <h3>Edit Farm</h3>
        <a href="{% url 'new_farm' %}" class="btn btn-danger pull-right" href="#" role="button">Add Farm</a>

        <div class="farm">
            <form method="POST" class="post-form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        </div>

    </div>
</div>

{% endblock %}

{% include 'partials/footer.html' %}
