{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% load staticfiles %}
{% block content %}

<div class="wrapper">
    <div class="container">

        <a href="{% url 'new_farm' %}" class="btn btn-danger pull-right" href="#" role="button">Add Farm</a>


    <div class="row">
        <div class="col-md-12">
            <h3>{{ farm.name }}</h3>

            <div class="farm clearfix">
            {% if farm.images %}
                <div class="col-md-4 col-sm-6">
                    <img src="{{ farm.images.url }}" alt="" class="img-responsive">
                </div>
            {% endif %}


            {% if farm.published_date %}
                <div class="date text-danger">
                    {{ farm.published_date }}
                </div>
            {% endif %}

            <p>{{ farm.description|linebreaksbr }}</p>

            <br>

            <div class="map col-xs-12">

                <iframe width="100%" height="350" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q={{ farm.latitude }},{{ farm.longitude }}&key=AIzaSyDTke3t80rv1lW6OTVwHseliRNKiqRuLFc" allowfullscreen>
                </iframe>

            </div>

            <div class="actions pull-right">
                <a style="margin-right: 20px;" class="btn btn-primary" href="{% url 'farm_details' pk=farm.pk %}">Read More</a>
                <a style="margin-right: 20px;" class="btn btn-info" href="{% url 'edit_farm' pk=farm.pk %}">Edit</a>
                <a class="btn btn-danger" href="{% url 'delete_farm' pk=farm.pk %}">Delete</a>
            </div>

        </div>
        </div>

        <div class="col-md-12">
            <h3>Products in this Farm</h3>
            {% for product in products %}
            <div class="product">

            {% if product.images %}
            <div class="col-md-4 col-sm-6">
                <img src="{{ product.images.url }}" alt="" class="img-responsive">
            </div>
            {% endif %}

            <h1>{{ product.title }}</h1>
            <h4>{{ product.category }}</h4>

            {% if product.published_date %}
                <div class="date text-danger">
                    {{ product.published_date }}
                </div>
            {% endif %}

            <h4 class="pull-right alert alert-danger">{{ product.price }}</h4>

            <p>{{ product.description|linebreaksbr }}</p>

            <div class="actions pull-right">
                <a class="btn btn-info" href="{% url 'product_details' pk=product.pk %}">Read More</a>
                <a style="margin-right: 20px;" class="btn btn-info" href="{% url 'edit_product' pk=product.pk %}">Edit</a>
                <a class="btn btn-danger" href="{% url 'delete_product' pk=product.pk %}">Delete</a>
            </div>

        </div>
        {% endfor %}
        </div>
    </div>


    </div>
</div>

{% endblock %}

{% include 'partials/footer.html' %}
