{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% load staticfiles %}
{% block content %}

<div class="wrapper">
    <div class="container">

        <h3>Farms</h3>
        <a href="{% url 'new_farm' %}" class="btn btn-danger pull-right" role="button">Add Farm</a>

        {% for farm in farms %}
        <div class="farm clearfix">
            {% if farm.images %}
                <div class="col-md-4 col-sm-6">
                    <img src="{{ farm.images.url }}" alt="" class="img-responsive">
                </div>
            {% endif %}

            <h1>{{ farm.name }}</h1>

            {% if farm.published_date %}
                <div class="date text-danger">
                    {{ farm.published_date }}
                </div>
            {% endif %}

            <p>{{ farm.description|linebreaksbr }}</p>

            <br>

            <div class="actions pull-right">
                <a style="margin-right: 20px;" class="btn btn-primary" href="{% url 'farm_details' pk=farm.pk %}">Read More</a>
                <a style="margin-right: 20px;" class="btn btn-info" href="{% url 'edit_farm' pk=farm.pk %}">Edit</a>
                <a class="btn btn-danger" href="{% url 'delete_farm' pk=farm.pk %}">Delete</a>
            </div>

        </div>
        &nbsp;
        <hr>
        &nbsp;
        {% endfor %}
    </div>
</div>

{% endblock %}

{% include 'partials/footer.html' %}
