{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% load staticfiles %}
{% block content %}

<div class="wrapper">
    <div class="container">

        <h3>Products</h3>
        <a href="{% url 'new_product' %}" class="btn btn-danger pull-right" href="#" role="button">Add Product</a>

        {% for product in products %}
        <div class="product row">
            {% if product.published_date %}
                <div class="date">
                    {{ product.published_date }}
                </div>
            {% endif %}
            <div class="col-md-4 col-sm-6">
                <img src="{{ product.images.url }}" alt="" class="img-responsive">
            </div>
            <h1>{{ product.title }}</h1>
            <p>{{ product.description|linebreaksbr }}</p>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}

{% include 'partials/footer.html' %}
