{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% load staticfiles %}
{% block content %}

<div class="wrapper">
    <div class="container">

        <h3>Create a New Product</h3>
        <a href="{% url 'new_product' %}" class="btn btn-danger pull-right" href="#" role="button">Add Product</a>

        <div class="post">
            {% if product.published_date %}
                <div class="date">
                    {{ product.published_date }}
                </div>
            {% endif %}
            <div class="col-md-4 col-sm-6">
                <img src="{{ product.images }}" alt="" class="img-responsive">
            </div>
            <h1>{{ product.title }}</h1>
            <p>{{ product.description|linebreaksbr }}</p>
        </div>

    </div>
</div>

{% endblock %}

{% include 'partials/footer.html' %}
